<!-- EJS is like HTML but you can write JS directly in it -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Flashcards</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Just Flashcards</h1>
        <p>No ads or AI-- goal is simplicity, so you can focus on learning</p>
    </header>
    <main>
        <div class="auth-buttons">
            <a href="/auth/google" class="btn btn-google">
                Sign in with Google
            </a>
        </div>
    </main>
</div>
</body>
</html>